<div *ngIf="children">
  <table class="table table-bordered">
    <thead>
    <th>Youth ID</th>
    <th>Home</th>
    <th>First name</th>
    <th>Last name</th>
    <th>DOB</th>
    <th>Sibling Set ID</th>
    <th>Placement Start</th>
    </thead>
    <tbody>
    <tr *ngFor="let child of children">
      <td>{{ child.youthId }}</td>
      <td>{{ child.home }}</td>
      <td>{{ child.firstName }}</td>
      <td>{{ child.lastName }}</td>
      <td>{{ child.DOB }}</td>
      <td>{{ child.siblingSet }}</td>
      <td>{{ child.placementStart }}</td>
      <td>{{ child.inConstellation }}</td>
    </tr>
    </tbody>
  </table>
</div>
