<div class="container" *ngIf="constellation">
  <div class="row">
    <div class="col-md-3">
      <label>Constellation Name: </label> {{constellation.ConstellationName}}
    </div>
    <div class="col-md-3">
      <label>Host Agency: </label> {{constellation.AgencyName}}
    </div>
    <div class="col-md-2">
      <label>Last updated: </label> {{constellation.LastUpdated | date: 'MM/dd/yyyy'}}
    </div>
    <div class="col-md-2">
      <label>Report period</label> June 2016
    </div>
    <div class="col-md-2">
      <label>Report status</label> {{constellation.ReportStatus}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <label>Number of satellite homes: </label> {{constellation.NumberOfSateliteHomes}}
    </div>
    <div class="col-md-4">
      <label>Constellation launch date: </label> {{constellation.ConstellationStartDate | date: 'MM/dd/yyyy'}}
    </div>
    <div class="col-md-4">
      <label>No. of allegations made on safety of the Constellation youth: </label> {{constellation.NumberOfSafetyAllegations}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Number of Non dependent youth: </label> {{constellation.NumberOfDependentYouth}}
    </div>
    <div class="col-md-8">
      <!-- TODO Missing info -->
      <label>No. of Dependent youth: </label> 0
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Number of sibling sets: </label> {{constellation.NumberOfFullSiblingSets}}
    </div>
    <div class="col-md-4">
      <label>Full sibling sets in the same satellite home: </label> {{constellation.NumberOfDependentYouth}} <a href="">View</a>
    </div>
    <div class="col-md-4">
      <label>No. of sibling sets in constellation since launch: </label> {{constellation.NumberOfFullSiblingSetsSinceLaunch}}
    </div>
  </div>
  <br>
  <h4>Hub Home</h4>
  <div class="row">
    <div class="col-md-4">
      <label>Hub home start date:</label> {{constellation.HubHomeStartDate | date: 'MM/dd/yyyy'}}
    </div>
    <div class="col-md-8">
      <!-- TODO this info is missing-->
      <label>Free of CPS or licensing allegations issues?</label> Yes
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Hub provider:</label> {{constellation.HubHomePrimaryContactName}}
    </div>
    <div class="col-md-4">
      <label>Phone:</label>  {{constellation.HubHomePrimaryContactPhone}}
    </div>
    <div class="col-md-4">
      <label>Email:</label> {{constellation.HubHomePrimaryContactEmail}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Foster parent recruitment activities:</label> {{constellation.NumberOfRecruitingEvents}}
    </div>
    <div class="col-md-4">
      <label>No. of newly licensed homes added:</label> {{constellation.NumberOfNewlyLicensedHomesAdded}}
    </div>
    <div class="col-md-4">
      <label>No. of existing licensed homes added:</label> {{constellation.NumberOfExistingLicensedHomesAdded}}
    </div>
  </div>
  <br>
  <h4>Constellation activities this period</h4>
    <as-activity-list-table [constellationId]="constellationId" [reportDate]="reportDate"></as-activity-list-table>

  <br>
  <h4>Constellation home support services this period</h4>
    <as-home-list-table [constellationId]="constellationId" [reportDate]="reportDate"></as-home-list-table>
  <br>
  <br>
</div>