<div *ngIf="activities">
    <table class="table table-bordered">
        <thead>
        <th>Cultural activities, events, training, services this period</th>
        <th>No. of youths attended</th>
        <th>Area of focus for this activity</th>
        </thead>
        <tbody>
        <tr *ngFor="let activity of activities">
            <td>{{ activity.activityName }}</td>
            <td>{{ activity.numYouthsAttended }}</td>
            <td>{{ activity.areaFocus }}</td>                                     
        </tr>
        </tbody>
    </table>
</div>
